{% extends "base.html" %} {% block main %}

{% comment %} {% if not user %}

<div class="logout-banner">
  You're not currently logged in. Any logged workout will be stored temporarily
  only. If you wish to keep data logged, please
  <a href="{{ url_for('authentification') }}">log in or create an account</a>
  first.
</div>
{% endif %} {% endcomment %}
<script id="review_workouts">
  // The tojson filter serializes the data correctly, whether it's from the database or session
  {% comment %} const workoutsData = {{ workouts | tojson }}; {% endcomment %}
</script>
<section id="stats-overview" class="section">
  <div class="container">
    <h2 class="review-headers">Workouts</h2>
    <div class="stats-overview-grid">
      <div class="stats-column">
        <div class="stats-grid">
          <div class="stat-box session-colour">
            <p>Workouts Logged</p>
            <span id="total-workouts" class="stat-value">0</span>
          </div>
          <div class="stat-box cals-colour">
            <p>Total Calories</p>
            <div class="data">
              <span id="total-calories-burned" class="stat-value">0</span
              ><span class="unit">kcal</span>
            </div>
          </div>
          <div class="stat-box minute-colour">
            <p>Total Minutes</p>
            <div class="data">
              <span id="total-workout-minutes" class="stat-value">0</span
              ><span class="unit">min</span>
            </div>
          </div>
          <div class="stat-box cals-colour">
            <p>Average Calories per Workout</p>
            <div class="data">
              <span id="avg-calories-burned" class="stat-value">0</span
              ><span class="unit">kcal</span>
            </div>
          </div>
          <div class="stat-box minute-colour">
            <p>Average Minutes per Workout</p>
            <div class="data">
              <span id="avg-workout-minutes" class="stat-value">0</span
              ><span class="unit">min</span>
            </div>
          </div>
        </div>
        <div class="form-group review-workout">
          <select id="workoutType" name="workoutType" required>
            <option value="" disabled selected>Show stats per workout</option>
            <option value="Running">Running</option>
            <option value="Walking">Walking</option>
            <option value="Cycling">Cycling</option>
            <option value="Yoga">Yoga</option>
            <option value="Strength Training">Strength Training</option>
            <option value="HIIT">HIIT</option>
            <option value="Rowing">Rowing</option>
            <option value="Pilates">Pilates</option>
            <option value="Swimming">Swimming</option>
            <option value="Hiking">Hiking</option>
          </select>
        </div>
        <div id="workout-stats">
          <div class="stats-grid hidden" id="runningStats">
            <div class="stat-box session-colour">
              <p>Runs Logged</p>
              <span id="total-runs" class="stat-value">0</span>
            </div>
            <div class="stat-box cals-colour">
              <p>Average Calories per Run</p>
              <div class="data">
                <span id="avg-calories-burned-runs" class="stat-value">0</span
                ><span class="unit">kcal</span>
              </div>
            </div>
            <div class="stat-box minute-colour">
              <p>Average Minutes per Run</p>
              <div class="data">
                <span id="avg-runs-minutes" class="stat-value">0</span
                ><span class="unit">min</span>
              </div>
            </div>
            <div class="stat-box distance-colour">
              <p>Average Distance per Run</p>
              <div class="data">
                <span id="avg-runs-distance" class="stat-value">0</span
                ><span class="unit">km</span>
              </div>
            </div>
            <div class="stat-box pace-colour">
              <p>Average Pace per Run</p>
              <div class="data">
                <span id="avg-runs-pace" class="stat-value">--</span
                ><span class="unit">min/km</span>
              </div>
            </div>
          </div>
          <div class="stats-grid hidden" id="walkingStats">
            <div class="stat-box session-colour">
              <p>Walks Logged</p>
              <span id="total-walks" class="stat-value">0</span>
            </div>
            <div class="stat-box cals-colour">
              <p>Average Calories per Walk</p>
              <div class="data">
                <span id="avg-calories-burned-walks" class="stat-value">0</span
                ><span class="unit">kcal</span>
              </div>
            </div>
            <div class="stat-box minute-colour">
              <p>Average Minutes per Walk</p>
              <div class="data">
                <span id="avg-walks-minutes" class="stat-value">0</span
                ><span class="unit">min</span>
              </div>
            </div>
            <div class="stat-box distance-colour">
              <p>Average Distance per Walk</p>
              <div class="data">
                <span id="avg-walks-distance" class="stat-value">0</span
                ><span class="unit">km</span>
              </div>
            </div>
            <div class="stat-box pace-colour">
              <p>Average Pace per Walk</p>
              <div class="data">
                <span id="avg-walks-pace" class="stat-value">--</span
                ><span class="unit">min/km</span>
              </div>
            </div>
          </div>
          <div class="stats-grid hidden" id="cyclingStats">
            <div class="stat-box session-colour">
              <p>Cycles Logged</p>
              <span id="total-cycles" class="stat-value">0</span>
            </div>
            <div class="stat-box cals-colour">
              <p>Average Calories per Cycle</p>
              <div class="data">
                <span id="avg-calories-burned-cycles" class="stat-value">0</span
                ><span class="unit">kcal</span>
              </div>
            </div>
            <div class="stat-box minute-colour">
              <p>Average Minutes per Cycle</p>
              <div class="data">
                <span id="avg-cycles-minutes" class="stat-value">0</span
                ><span class="unit">min</span>
              </div>
            </div>
            <div class="stat-box distance-colour">
              <p>Average Distance per Cycle</p>
              <div class="data">
                <span id="avg-cycles-distance" class="stat-value">0</span
                ><span class="unit">km</span>
              </div>
            </div>
            <div class="stat-box pace-colour">
              <p>Average Pace per Cycle</p>
              <div class="data">
                <span id="avg-cycles-pace" class="stat-value">--</span
                ><span class="unit">min/km</span>
              </div>
            </div>
          </div>
          <div class="stats-grid hidden" id="rowingStats">
            <div class="stat-box session-colour">
              <p>Rowing Sessions Logged</p>
              <span id="total-rowing" class="stat-value">0</span>
            </div>
            <div class="stat-box cals-colour">
              <p>Average Calories per Rowing Session</p>
              <div class="data">
                <span id="avg-calories-burned-rowing" class="stat-value">0</span
                ><span class="unit">kcal</span>
              </div>
            </div>
            <div class="stat-box minute-colour">
              <p>Average Minutes per Rowing Session</p>
              <div class="data">
                <span id="avg-rowing-minutes" class="stat-value">0</span
                ><span class="unit">min</span>
              </div>
            </div>
            <div class="stat-box intensity-colour">
              <p>Average Intensity per Rowing Session</p>
              <span id="avg-rowing-intensity" class="stat-value">0</span>
            </div>
          </div>
          <div class="stats-grid hidden" id="swimmingStats">
            <div class="stat-box session-colour">
              <p>Swims Logged</p>
              <span id="total-swims" class="stat-value">0</span>
            </div>
            <div class="stat-box cals-colour">
              <p>Average Calories per Swim</p>
              <div class="data">
                <span id="avg-calories-burned-swims" class="stat-value">0</span
                ><span class="unit">kcal</span>
              </div>
            </div>
            <div class="stat-box minute-colour">
              <p>Average Minutes per Swim</p>
              <div class="data">
                <span id="avg-swims-minutes" class="stat-value">0</span
                ><span class="unit">min</span>
              </div>
            </div>
            <div class="stat-box intensity-colour">
              <p>Average Intensity per Swim</p>
              <span id="avg-swims-intensity" class="stat-value">0</span>
            </div>
          </div>
          <div class="stats-grid hidden" id="hikingStats">
            <div class="stat-box session-colour">
              <p>Hikes Logged</p>
              <span id="total-hikes" class="stat-value">0</span>
            </div>
            <div class="stat-box cals-colour">
              <p>Average Calories per Hike</p>
              <div class="data">
                <span id="avg-calories-burned-hikes" class="stat-value">0</span
                ><span class="unit">kcal</span>
              </div>
            </div>
            <div class="stat-box minute-colour">
              <p>Average Minutes per Hike</p>
              <div class="data">
                <span id="avg-hikes-minutes" class="stat-value">0</span
                ><span class="unit">min</span>
              </div>
            </div>
            <div class="stat-box intensity-colour">
              <p>Average Intensity per Hike</p>
              <span id="avg-hikes-intensity" class="stat-value">0</span>
            </div>
          </div>
          <div class="stats-grid hidden" id="yogaStats">
            <div class="stat-box session-colour">
              <p>Yoga Sessions Logged</p>
              <span id="total-yoga" class="stat-value">0</span>
            </div>
            <div class="stat-box cals-colour">
              <p>Average Calories per Yoga Session</p>
              <div class="data">
                <span id="avg-calories-burned-yoga" class="stat-value">0</span
                ><span class="unit">kcal</span>
              </div>
            </div>
            <div class="stat-box minute-colour">
              <p>Average Minutes per Yoga Session</p>
              <div class="data">
                <span id="avg-yoga-minutes" class="stat-value">0</span
                ><span class="unit">min</span>
              </div>
            </div>
            <div class="stat-box intensity-colour">
              <p>Average Intensity per Yoga Session</p>
              <span id="avg-yoga-intensity" class="stat-value">0</span>
            </div>
          </div>
          <div class="stats-grid hidden" id="pilatesStats">
            <div class="stat-box session-colour">
              <p>Pilates Sessions Logged</p>
              <span id="total-pilates" class="stat-value">0</span>
            </div>
            <div class="stat-box cals-colour">
              <p>Average Calories per Pilates Session</p>
              <div class="data">
                <span id="avg-calories-burned-pilates" class="stat-value"
                  >0</span
                ><span class="unit">kcal</span>
              </div>
            </div>
            <div class="stat-box minute-colour">
              <p>Average Minutes per Pilates Session</p>
              <div class="data">
                <span id="avg-pilates-minutes" class="stat-value">0</span
                ><span class="unit">min</span>
              </div>
            </div>
            <div class="stat-box intensity-colour">
              <p>Average Intensity per Pilates Session</p>
              <span id="avg-pilates-intensity" class="stat-value">0</span>
            </div>
          </div>
          <div class="stats-grid hidden" id="hiitStats">
            <div class="stat-box session-colour">
              <p>HIITs Logged</p>
              <span id="total-hiits" class="stat-value">0</span>
            </div>
            <div class="stat-box cals-colour">
              <p>Average Calories per HIIT</p>
              <div class="data">
                <span id="avg-calories-burned-hiits" class="stat-value">0</span
                ><span class="unit">kcal</span>
              </div>
            </div>
            <div class="stat-box minute-colour">
              <p>Average Minutes per HIIT</p>
              <div class="data">
                <span id="avg-hiits-minutes" class="stat-value">0</span
                ><span class="unit">min</span>
              </div>
            </div>
            <div class="stat-box intensity-colour">
              <p>Average Intensity per HIIT</p>
              <span id="avg-hiits-intensity" class="stat-value">0</span>
            </div>
          </div>
          <div class="stats-grid hidden" id="strengthtrainingStats">
            <div class="stat-box session-colour">
              <p>Strength Trainings Logged</p>
              <span id="total-strength" class="stat-value">0</span>
            </div>
            <div class="stat-box cals-colour">
              <p>Average Calories per Strength Training</p>
              <div class="data">
                <span id="avg-calories-burned-strength" class="stat-value"
                  >0</span
                ><span class="unit">kcal</span>
              </div>
            </div>
            <div class="stat-box minute-colour">
              <p>Average Minutes per Strength Training</p>
              <div class="data">
                <span id="avg-strength-minutes" class="stat-value">0</span
                ><span class="unit">min</span>
              </div>
            </div>
            <div class="stat-box intensity-colour">
              <p>Average Intensity per Strength Training</p>
              <span id="avg-strenght-intensity" class="stat-value">0</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="logged-workouts" class="section">
  <div class="container">
    <h2 class="review-headers">Logged Workouts</h2>
    <div id="workoutList" class="data-list">
      <p class="no-data-message">
        No workouts logged yet. <a href="{% url 'log-workout'%}">Log one now!</a>
      </p>
    </div>
  </div>
</section>
{% endblock %}
