{% extends "base.html" %}
{% block main %}
<section id="log-workout" class="section">
  <div class="container">
    <h2 class="review-headers">Reset Your Password</h2>
    <div class="form-container">
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_email">Email Address</label>
          <input type="email" name="email" id="id_email" required>
        </div>
        {% if form.email.errors %}
        <div class="flash">
          <p class="flash-error">{{ form.email.errors }}</p>
        </div>
        {% endif %}
        <button type="submit" class="button">Send Reset Link</button>
        <a href="{% url 'login' %}">Back to login</a>
      </form>
    </div>
  </div>
</section>
{% endblock %}