{% extends "base.html" %} {% block main %}
<section id="stats-overview" class="section">
  <div class="container">
    <h2 class="review-headers">Moods</h2>
    <div class="stats-overview-grid">
      <div class="stats-column">
        <div class="stats-grid">
          <div class="stat-box mood-colour">
            <p>Average Mood</p>
            <span id="avg-mood" class="stat-value">{{ avg_mood }}</span>
          </div>
          <div class="stat-box session-colour">
            <p>Moods Logged</p>
            <span id="total-moods" class="stat-value">{{ total_moods }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}